@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;900&display=swap");
body {
  background: #17282f;
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1 {
  color: #fff;
  line-height: 1;
  font-size: 59px;
  font-weight: 400;
  margin: 0;
}

h1 span {
  color: #f3fc62;
}

h2 {
  color: #fff;
  line-height: 1;
  font-size: 30px;
  font-weight: 400;
  margin: 0;
}

h2 span {
  color: #f3fc62;
}

h2::after {
  content: "";
  display: block;
  width: 50%;
  min-width: 110px;
  max-width: 400px;
  margin: 0.3em auto 0.5em;
  border-bottom: 1px solid #fff;
}

h3 {
  color: #fff;
  line-height: 1;
  font-size: 17px;
  font-weight: 300;
  margin: 0;
}

h4 {
  color: #f3fc62;
  line-height: 1;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

h5 {
  color: #f3fc62;
  line-height: 1;
  font-size: 12px;
  font-weight: 400;
  margin: 0;
}

h1,
h2,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.menu-button {
  position: absolute;
  top: 1.6em;
  left: 1.6em;
  background: transparent;
  color: rgba(243, 252, 98, 0.6);
  border: 0;
  z-index: 199;
  cursor: pointer;
}

nav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 15%;
  z-index: 200;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform ease-out 250ms;
  transition: -webkit-transform ease-out 250ms;
  transition: transform ease-out 250ms;
  transition: transform ease-out 250ms, -webkit-transform ease-out 250ms;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  background: #7f9fa0;
}

nav li {
  border-bottom: 1px solid #17282f;
  text-align: center;
}

nav li:hover {
  background: rgba(23, 40, 47, 0.3);
}

nav a {
  display: inline-block;
  font: "Montserrat", sans-serif;
  font-size: 3em;
  font-weight: 400;
  color: #17282f;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em 3em;
  line-height: 0;
  padding: calc(100vh / 10) 0;
  width: 100%;
}

.close {
  display: none;
}

.nav-is-open nav {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav-is-open .close {
  display: block;
}

.nav-is-open .hamburger {
  display: none;
}

.nav-is-open .container-all {
  -webkit-transform: translateX(85%);
          transform: translateX(85%);
}

.nav-is-open .menu-button {
  -webkit-transform: translateX(-60%);
          transform: translateX(-60%);
}

.home {
  background: url(../../img/BlueMountains.jpg) center/cover no-repeat;
  height: 100vh;
  position: relative;
}

.hero {
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero h1,
.hero h3 {
  text-align: center;
}

.hero-text {
  margin-top: -7vh;
  z-index: 100;
}

@media (min-width: 569px) and (max-width: 1024px) {
  .hero-text {
    margin-top: -10vh;
  }
}

@media (min-width: 1025px) and (max-width: 1600px) {
  .hero-text {
    margin-top: -12vh;
  }
}

@media (min-width: 1601px) {
  .hero-text {
    margin-top: -15vh;
  }
}

.hero-text h1 {
  margin: 0.2em;
  font-size: 45px;
}

@media (min-width: 569px) and (max-width: 1024px) {
  .hero-text h1 {
    line-height: 1.1;
    font-size: 65px;
    font-weight: 400;
    margin: 0.1em;
  }
}

@media (min-width: 1025px) and (max-width: 1600px) {
  .hero-text h1 {
    line-height: 1.3;
    font-size: 80px;
    font-weight: 400;
    margin: 0.1em;
  }
}

@media (min-width: 1601px) {
  .hero-text h1 {
    line-height: 1.5;
    font-size: 95px;
    font-weight: 400;
    margin: 0.1em;
  }
}

.hero-text h3 {
  font-size: 15px;
  margin: 0.1em 0;
}

@media (min-width: 569px) and (max-width: 1024px) {
  .hero-text h3 {
    font-size: 17px;
    margin: 0.9em 0.1em;
  }
}

@media (min-width: 1025px) and (max-width: 1600px) {
  .hero-text h3 {
    font-size: 20px;
    margin: 1.2em 0.2em;
  }
}

@media (min-width: 1601px) {
  .hero-text h3 {
    font-size: 23px;
    margin: 1.5em 0.3em;
  }
}

.hero-title::before {
  content: "";
  display: block;
  width: 91%;
  height: 15px;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  margin: 0 auto;
}

@media (min-width: 569px) and (max-width: 1024px) {
  .hero-title::before {
    width: 92%;
  }
}

@media (min-width: 1025px) and (max-width: 1600px) {
  .hero-title::before {
    width: 97%;
  }
}

@media (min-width: 1601px) {
  .hero-title::before {
    width: 100%;
  }
}

.hero-title::after {
  content: "";
  display: block;
  width: 91%;
  height: 15px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  margin: 0 auto 10px;
}

@media (min-width: 569px) and (max-width: 1024px) {
  .hero-title::after {
    width: 92%;
  }
}

@media (min-width: 1025px) and (max-width: 1600px) {
  .hero-title::after {
    width: 97%;
  }
}

@media (min-width: 1601px) {
  .hero-title::after {
    width: 100%;
  }
}

.hero-arrow {
  position: absolute;
  display: block;
  bottom: 5vh;
  color: #fff;
  opacity: 0.4;
}

.work {
  background: url(../../img/my-work-bg-image.jpg) center/cover no-repeat;
  text-align: center;
  padding: 5em 2em;
}

@media (min-width: 569px) and (max-width: 1024px) {
  .work {
    padding: 5em 3em;
  }
}

@media (min-width: 569px) and (max-width: 1024px) {
  .work h2 {
    font-size: 40px;
  }
}

@media (min-width: 1025px) and (max-width: 1600px) {
  .work h2 {
    font-size: 50px;
  }
}

@media (min-width: 1601px) {
  .work h2 {
    font-size: 60px;
  }
}

figure {
  margin: 1.5em 1.8em;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 450px;
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  background-color: #7f9fa0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10rem;
          flex: 1 1 10rem;
}

.project img {
  display: block;
  width: 100%;
}

.project .project-link {
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
}

.project .project-desc {
  font-size: 14px;
  line-height: 1.1em;
  padding-top: 1em;
}

.project .project-title {
  padding-top: 0.5em;
}

.project figcaption {
  margin: 0;
  padding: 0;
  display: none;
  -webkit-transition: display ease-in-out 250ms;
  transition: display ease-in-out 250ms;
}

.project:hover figcaption,
.project:focus figcaption {
  display: block;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  max-width: 870px;
}

.project-modal {
  position: fixed;
  z-index: 300;
  top: 3em;
  bottom: 3em;
  left: 3em;
  right: 3em;
  background: #7f9fa0;
  -webkit-box-shadow: 0 0 0 5em rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 0 5em rgba(0, 0, 0, 0.4);
  overflow-y: scroll;
  overflow-x: hidden;
}

.modal-close {
  background: white;
  position: fixed;
  left: 2em;
  top: 2em;
  border: 0;
  padding: 0;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
}

.project-header {
  text-align: center;
  padding: 5em 0;
  margin-bottom: 2em;
}

.project-header:nth-of-type(1) {
  background: url("https://source.unsplash.com/random/250x250") center/cover no-repeat;
}

.project-title-box {
  background: rgba(23, 40, 47, 0.9);
  padding: 2em;
  color: #fff;
  width: 70%;
  margin: auto;
}

.project-content {
  text-align: left;
  width: 85%;
  margin: 0 auto;
  padding-bottom: 2em;
}

.project-content img {
  display: block;
}

.project-content .project-full-width {
  width: 100vw;
  max-width: initial;
  margin: 2em calc(50% - 50vw);
  height: 20vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.project-content .project-pull-left {
  width: 65%;
  float: left;
  margin-right: 2em;
}

.project-content .project-pull-right {
  width: 65%;
  float: right;
  margin-left: 2em;
}

.skills {
  background: url(../../img/skills-r-bg-image.jpg) center/cover no-repeat;
  text-align: center;
  padding: 5em 2em;
}

@media (min-width: 569px) and (max-width: 1024px) {
  .skills {
    padding: 5em 3em;
  }
}

@media (min-width: 1025px) and (max-width: 1600px) {
  .skills {
    padding: 5em 10em;
  }
}

@media (min-width: 1601px) {
  .skills {
    padding: 5em 22em;
  }
}

@media (min-width: 569px) and (max-width: 1024px) {
  .skills h2 {
    font-size: 40px;
  }
}

@media (min-width: 1025px) and (max-width: 1600px) {
  .skills h2 {
    font-size: 50px;
  }
}

@media (min-width: 1601px) {
  .skills h2 {
    font-size: 60px;
  }
}

@media (min-width: 569px) and (max-width: 1024px) {
  .skills h4 {
    font-size: 20px;
  }
}

@media (min-width: 1025px) and (max-width: 1600px) {
  .skills h4 {
    font-size: 27px;
  }
}

@media (min-width: 1601px) {
  .skills h4 {
    font-size: 35px;
  }
}

.skill-pill {
  background: #fff;
  display: inline-block;
  color: #000;
  font-size: 13px;
  font-weight: 400;
  padding: 7px 13px;
  border-radius: 6px;
  margin: 5px;
  -webkit-box-shadow: 3px 3px 3px #000000;
  box-shadow: 3px 3px 3px #000000;
}

@media (min-width: 569px) and (max-width: 1024px) {
  .skill-pill {
    font-size: 15px;
    padding: 9px 15px;
    border-radius: 8px;
    margin: 7px;
  }
}

@media (min-width: 1025px) and (max-width: 1600px) {
  .skill-pill {
    font-size: 18px;
    padding: 9px 15px;
    border-radius: 8px;
    margin: 7px;
  }
}

@media (min-width: 1601px) {
  .skill-pill {
    font-size: 21px;
    padding: 9px 15px;
    border-radius: 8px;
    margin: 7px;
  }
}

.skill-pill i {
  margin-right: 4px;
}

.skills-cat {
  margin-bottom: 2em;
}

.skills-area-title {
  margin-bottom: 0;
}

.certs-header {
  margin-bottom: 2em;
}

.canvas-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-item-align: center;
      align-self: center;
}

.canvas-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background: #7f9fa0;
  height: 390px;
  max-width: 100%;
  border: none;
  margin: auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10px;
          flex: 1 1 10px;
}

@media (min-width: 569px) and (max-width: 1024px) {
  .canvas-container {
    max-width: 550px;
    height: 410px;
  }
}

@media (min-width: 1025px) and (max-width: 1600px) {
  .canvas-container {
    max-width: 650px;
    height: 425px;
  }
}

@media (min-width: 1601px) {
  .canvas-container {
    max-width: 700px;
    height: 450px;
  }
}

.sliders ul {
  position: absolute;
  bottom: 4%;
  left: -7%;
  width: 100%;
  text-align: center;
  margin: 0;
}

.sliders li {
  list-style: none;
  background: gray;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
}

.active-slider {
  background-color: #f3fc62 !important;
  border: 2px solid #17282f;
}

.resume-download {
  display: block;
  margin-top: 2em;
}

.btn {
  background: #f3fc62;
  height: auto;
  font-size: 13px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 9px;
  border-radius: 8px;
}

@media (min-width: 569px) and (max-width: 1024px) {
  .btn {
    font-size: 14px;
  }
}

@media (min-width: 1025px) and (max-width: 1600px) {
  .btn {
    font-size: 17px;
  }
}

@media (min-width: 1601px) {
  .btn {
    font-size: 19px;
  }
}

#canvas {
  position: relative;
  height: 400px;
  width: 200px;
  margin: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10rem;
          flex: 1 1 10rem;
}

#canvas img {
  display: block;
  width: 85%;
  margin: 0 auto;
}

.arrow {
  position: relative;
  display: block;
  z-index: 1;
  width: 20px;
  height: 40px;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: none;
  opacity: 0.8;
  color: #000;
}

.arrow i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.image {
  width: 35px;
  height: 35px;
}

.arrow:hover {
  color: #f3fc62;
}

footer {
  margin-top: 50px;
  text-align: center;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3%, 0);
            transform: translate3d(0, 3%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3%, 0);
            transform: translate3d(0, 3%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.canvas-slide {
  -webkit-animation-duration: 0.25s;
          animation-duration: 0.25s;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.canvas-slide-fadeinright {
  -webkit-animation-name: fadeInRight;
          animation-name: fadeInRight;
}

.canvas-slide-fadeinleft {
  -webkit-animation-name: fadeInLeft;
          animation-name: fadeInLeft;
}

.run-animation {
  position: relative;
  -webkit-animation: fadeIn 0.45s ease-in-out;
          animation: fadeIn 0.45s ease-in-out;
}

.about {
  background: #253a3e;
  text-align: center;
  padding: 5em 1.5em;
}

@media (min-width: 569px) and (max-width: 1024px) {
  .about {
    padding: 5em 3em;
  }
}

@media (min-width: 569px) and (max-width: 1024px) {
  .about h2 {
    font-size: 40px;
  }
}

@media (min-width: 1025px) and (max-width: 1600px) {
  .about h2 {
    font-size: 50px;
  }
}

@media (min-width: 1601px) {
  .about h2 {
    font-size: 60px;
  }
}

.about .image-me {
  grid-area: about-image;
  width: 150px;
  height: 150px;
  background-color: bisque;
  border-radius: 50%;
  content: "";
  display: block;
  margin: auto;
  overflow: hidden;
}

@media (min-width: 569px) and (max-width: 1024px) {
  .about .image-me {
    width: 200px;
    height: 200px;
  }
}

@media (min-width: 1025px) and (max-width: 1600px) {
  .about .image-me {
    width: 200px;
    height: 200px;
  }
}

@media (min-width: 1601px) {
  .about .image-me {
    width: 200px;
    height: 200px;
  }
}

.about .image-me img {
  display: block;
  width: 120%;
  margin-left: -13px;
  margin-top: -8px;
}

@media (min-width: 569px) and (max-width: 1024px) {
  .about .image-me img {
    margin-left: -20px;
  }
}

.about .about-me-text {
  margin: 1.5em auto 0;
  color: #fff;
  padding: 0.5em;
  line-height: 1.4em;
  max-width: 500px;
}

@media (min-width: 1025px) and (max-width: 1600px) {
  .about .about-me-text {
    font-size: 1.1em;
  }
}

@media (min-width: 1601px) {
  .about .about-me-text {
    font-size: 1.6em;
  }
}

.contact {
  background: #17282f;
  text-align: center;
  padding: 5em 2.5em 4em;
}

@media (min-width: 569px) and (max-width: 1024px) {
  .contact {
    padding: 5em 3em 2em;
  }
}

@media (min-width: 569px) and (max-width: 1024px) {
  .contact h2 {
    font-size: 40px;
  }
}

@media (min-width: 1025px) and (max-width: 1600px) {
  .contact h2 {
    font-size: 50px;
  }
}

@media (min-width: 1601px) {
  .contact h2 {
    font-size: 60px;
  }
}

.contact-form {
  grid-area: form-group;
  display: inline-block;
  width: 100%;
  background: rgba(255, 255, 255, 0.07);
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 1em auto;
  padding: 1.5em 1.7em;
  max-width: 490px;
}

.contact-form * {
  margin: 10px 0px;
  width: 98%;
  height: 1.5em;
}

.contact-form label {
  display: block;
  font-size: 15px;
  color: #f3fc62;
  text-align: left;
  margin: 0;
}

@media (min-width: 569px) and (max-width: 1024px) {
  .contact-form label {
    font-size: 1em;
    margin: 0.1em 0.08em;
  }
}

@media (min-width: 1025px) and (max-width: 1600px) {
  .contact-form label {
    font-size: 1.2em;
    margin: 0.2em 0.1em;
  }
}

@media (min-width: 1601px) {
  .contact-form label {
    font-size: 1.4em;
    margin: 0.3em 0.2em;
  }
}

#message-field {
  height: 140px;
}

#send-button {
  display: block;
  font-size: 12px;
  padding: 6px 12px;
  width: auto;
  height: auto;
  background-color: #f3fc62;
  border-radius: 6px;
  margin: 20px auto;
}

@media (min-width: 569px) and (max-width: 1024px) {
  #send-button {
    font-size: 14px;
  }
}

@media (min-width: 1025px) and (max-width: 1600px) {
  #send-button {
    font-size: 16px;
  }
}

@media (min-width: 1601px) {
  #send-button {
    font-size: 18px;
  }
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 2em auto;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-btn {
  cursor: pointer;
  height: 40px;
  width: 40px;
  font-weight: 400;
  color: #333;
  border-radius: 10px;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  background: white;
  margin: 10px;
  -webkit-transition: 1s;
  transition: 1s;
}

@media (min-width: 1025px) and (max-width: 1600px) {
  .social-btn {
    width: 50px;
    height: 50px;
  }
}

@media (min-width: 1601px) {
  .social-btn {
    width: 50px;
    height: 50px;
  }
}

.social-btn span {
  width: 0px;
  overflow: hidden;
  -webkit-transition: 1s;
  transition: 1s;
  text-align: center;
}

.social-btn:hover {
  width: 170px;
  border-radius: 5px;
}

.social-btn:hover span {
  padding: 15px 3px 15px 10px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  white-space: nowrap;
}

#linkedin {
  fill: #0e76a8;
  padding-left: 1px;
}

#github {
  fill: #333;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}
/*# sourceMappingURL=main.css.map */