:root {
  --primary-color: #fff;
  --secondary-color: #f3fc62;
  --tertiary-color: #17282f;
  --quaternary-color: #7f9fa0;
}

/*Sections:
- Header w/ Navbar
- main-homepage
- section -work
- section -skills
- section -about
- section -contact
*/

body {
  display: grid;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 1;
  grid-template-rows: 100vh auto 150vh 70vh 100vh auto;
  grid-template-columns: 100vw;
  grid-template-areas:
    "home"
    "work"
    "skills"
    "about"
    "contact"
    "footer";
}

#showcase,
#home {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  grid-area: home;
}
/* HEADER & NAV SECTION */
.nav-container {
  background: none;
  display: block;
  width: 80%;
  margin: 0 auto;
  z-index: 300;
}

header {
  background-size: cover;
  background-position: center;
}

header::after {
  content: "";
  display: table;
  clear: both;
}

nav {
  display: block;
  margin: 0 auto;
  transform: translateX(0%);
  transform-origin: left;
  transition: transform 400ms ease-in-out;
}
#nav-toggle {
  position: absolute;
  display: none;
}
.nav-toggle-label {
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 2em;
  height: 5vh;
  display: none;
  align-items: center;
}
nav ul {
  display: block;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  width: fit-content;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 25px;
  position: relative;
}
.li-home {
  margin-left: 0;
}

nav a {
  text-decoration: none;
  color: var(--primary-color);
  text-transform: uppercase;
  font-weight: 400;
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}

nav a::after {
  display: block;
  content: "";
  height: 4px;
  background-color: var(--secondary-color);
  bottom: -15px;
  position: absolute;
  width: 0%;
  transition: all ease-in-out 200ms;
}

nav a:hover::after {
  width: 100%;
}
/* Main - Homepage */

main {
  position: relative;
  background-color: none;
  z-index: -2;
  height: 100vh;
  background-image: url(../img/BlueMountains.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

main::before {
  position: absolute;
  display: grid;
  grid-area: main-home;
  box-sizing: border-box;
  content: "";
  height: 100vh;
  width: 100%;
  background: #000;
  z-index: -1;
  opacity: 0.7;
}

.hero-section {
  display: flex;
  flex-direction: column;
  margin: 0;
  position: relative;
  box-sizing: content-box;
  z-index: -1;
  width: 700px;
  max-height: 250px;
  left: calc(50vw - 350px);
  top: calc(45vh - 125px);
}

.hero-cross-top {
  box-sizing: border-box;
  width: 100%;
  height: 35px;
  border-top: 3px solid var(--primary-color);
  border-left: 3px solid var(--primary-color);
}

.hero-cross-bottom {
  box-sizing: border-box;
  width: 100%;
  height: 35px;
  border-bottom: 3px solid var(--primary-color);
  border-right: 3px solid var(--primary-color);
}

.hero-text {
  color: var(--primary-color);
  font-size: 100px;
  white-space: nowrap;
  width: fit-content;
  margin: 5px;
  padding: 10px;
  padding-left: 20px;
  font-weight: 400;
}
.text-secondary {
  color: var(--secondary-color);
}

.hero-text-description {
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 300;
  margin: auto;
  width: fit-content;
}
.arrow-div {
  position: absolute;
  box-sizing: content-box;
  left: calc(50vw - 20px);
  top: 90vh;
  z-index: 7;
}

#scroll-arrow {
  color: var(--primary-color);
}

/* Work Page */

#work {
  grid-area: work;
  display: grid;
  background: var(--tertiary-color);
  color: var(--primary-color);
  background: url(../img/my-work-bg-image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: fit-content;
  grid-template-columns: minmax(40px, 300px) auto minmax(40px, 300px);
  grid-template-rows: 0.5fr auto minmax(40px, 200px);
  grid-template-areas:
    ".. work-title .."
    ".. projects .."
    ".. .. ..";
}

.work-section-title {
  grid-area: work-title;
  display: block;
  margin: auto;
}

.project-container {
  grid-area: projects;
  padding: 1em;
  height: fit-content;
  display: grid;
  box-sizing: border-box;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  grid-template-rows: repeat(auto, minmax(325px, 350px));
}

h2 {
  color: var(--primary-color);
  font-size: 70px;
  margin: 60px auto;
  font-weight: 400;
}
.card {
  background: var(--quaternary-color);
  color: var(--tertiary-color);
  margin: 0;
  padding: 10px;
  height: fit-content;
}
.project-description {
  display: block;
  flex-direction: row;
  width: 100%;
}

.project-name {
  display: block;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  margin: 0;
}

.info-text {
  font-size: 10px;
  display: block;
  text-align: center;
}

/* Skills Page */

#skills {
  display: grid;
  grid-area: skills;
  background: #17282f;
  background-image: url(../img/skills-bg-image.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 150vh;
  grid-template-rows: 0.5fr 1fr 1fr 1fr 0.5fr 2fr 0.5fr 0.5fr;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas:
    ".. skills-heading .."
    ".. general .."
    ".. design .."
    ".. engineering .."
    ".. certs-heading .."
    ".. certs .."
    ".. resume .."
    ".. .. ..";
}
.skills-section-title {
  grid-area: skills-heading;
  display: block;
  margin: auto;
}
.skills-section-title h2 {
  margin: 45px auto;
}
.general {
  grid-area: general;
}
.skill-pill {
  background: var(--primary-color);
  display: inline-block;
  color: var(--tertiary-color);
  font-size: 17px;
  font-weight: 400;
  padding: 17px 25px;
  border-radius: 22px;
  margin: 11px;
  -webkit-box-shadow: 3px 3px 3px #000000;
  -moz-box-shadow: 3px 3px 3px #000000;
  box-shadow: 3px 3px 3px #000000;
}
i {
  display: inline-block;
}
h4 {
  color: var(--secondary-color);
  font-weight: 400;
  font-size: 30px;
  margin-top: 40px;
  margin-bottom: 10px;
}
.skills-cat {
  display: block;
  text-align: center;
}
.skill-title-general {
  margin-top: 20px;
}
.design {
  grid-area: design;
}
.engineering {
  grid-area: engineering;
}
.certs-header {
  display: block;
  text-align: center;
  grid-area: certs-heading;
}

.canvas-container {
  display: block;
  grid-area: certs;
  position: relative;
  background: var(--quaternary-color);
  height: 400px;
  width: 600px;
  border: none;
  margin: auto;
  box-sizing: content-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0;
}
#canvas {
  position: relative;
  height: 370px;
  width: 500px;
  margin: auto;
  box-sizing: content-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow {
  position: relative;
  z-index: 1;
  width: 50px;
  height: 50px;
  padding: 5px;
  box-sizing: border-box;
  background: none;
  opacity: 0.8;
  color: #000;
}

.image {
  width: 35px;
  height: 35px;
}

.arrow:hover {
  background-color: green;
}

footer {
  margin-top: 50px;
  text-align: center;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate3d(0, 3%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.canvas-slide {
  animation-duration: 0.25s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
}
.canvas-slide-fadeinright {
  animation-name: fadeInRight;
}
.canvas-slide-fadeinleft {
  animation-name: fadeInLeft;
}
.run-animation {
  position: relative;
  animation: fadeIn 0.45s ease-in-out;
}
.sliders ul {
  position: absolute;
  bottom: 7%;
  left: -5%;
  width: 100%;
  text-align: center;
  margin: 0;
}
.sliders li {
  list-style: none;
  background: gray;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
}
.active-slider {
  background-color: #f3fc62 !important;
  border: 2px solid var(--tertiary-color);
}
.resume-download {
  grid-area: resume;
  display: block;
  margin: 10px auto;
}
.btn {
  background: var(--secondary-color);
  height: auto;
  width: fit-content;
  padding: 10px;
}

/* About me Page */
#about {
  grid-area: about;
  background: #24393e;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 20% 30% 40% 10%;
  grid-template-areas:
    ".. about-header .."
    ".. about-image .."
    ".. about-description .."
    ".. .. ..";
}

.about-section-title {
  grid-area: about-header;
  display: block;
  margin: auto;
}
.image-me {
  grid-area: about-image;
  width: 200px;
  height: 200px;
  background-color: bisque;
  border-radius: 50%;
  content: "";
  display: block;
  margin: auto;
}
.about-me-text {
  grid-area: about-description;
  color: white;
  padding: 10px;
  margin: 15px;
  text-align: center;
  line-height: 1.6em;
}

/* Contact Page */
#contact {
  grid-area: contact;
  background: var(--tertiary-color);
  height: 100%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 20% 60% 10% 10%;
  grid-template-areas:
    ".. contact-header .."
    ".. form-group .."
    ".. social-links .."
    ".. .. ..";
}

.contact-section-title {
  grid-area: contact-header;
  display: block;
  margin: auto;
}
.contact-form {
  grid-area: form-group;
  display: inline-block;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  height: 100%;
  box-sizing: border-box;
  margin: auto;
  padding: 40px;
}
.contact-form > label {
  font-size: 20px;
  color: var(--secondary-color);
  margin-bottom: 20px;
}
.contact-form * {
  margin: 15px 0px;
  width: 100%;
  height: 2em;
}
#message-field {
  height: 150px;
}
#send-button {
  display: block;
  font-size: 18px;
  padding: 7px;
  width: 100px;
  height: auto;
  background-color: var(--secondary-color);
  border-radius: 6px;
  margin: 20px auto;
}
.contact-section-title {
  grid-area: contact-header;
}
.social-links {
  grid-area: social-links;
  display: flex;
  box-sizing: border-box;
  margin: auto;
  padding: 0;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-btn {
  cursor: pointer;
  height: 50px;
  width: 50px;
  font-weight: 400;
  color: #333;
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  background: white;
  margin: 10px;
  transition: 1s;
}

.social-btn span {
  width: 0px;
  overflow: hidden;
  transition: 1s;
  text-align: center;
}

.social-btn:hover {
  width: 170px;
  border-radius: 5px;
}

.social-btn:hover span {
  padding: 15px 3px 15px 10px;
  width: max-content;
  white-space: nowrap;
}

#linkedin {
  fill: #0e76a8;
  padding-left: 5px;
}

#github {
  fill: #333;
}

/* Footer */

footer {
  grid-area: footer;
  margin: 0px auto 0px auto;
  padding: 5px auto 10px auto;
  background: var(--quaternary-color);
  width: 100%;
  height: 100%;
}

/* Media Queries */
/* Small Screens */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .nav-container {
    background: none;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    z-index: 300;
  }
  header {
    background-size: cover;
    background-position: center;
  }

  header::after {
    content: "";
    display: table;
    clear: both;
  }

  nav {
    float: right;
    right: 1.25rem;
    transform: translateX(0%);
    transform-origin: left;
    transition: transform 400ms ease-in-out;
    position: relative;
  }
  #nav-toggle {
    display: none;
  }
  .nav-toggle-label {
    color: white;
    position: absolute;
    top: 1em;
    right: 1em;
    margin-right: 2em;
    height: 5vh;
    display: flex;
    align-items: center;
  }
  nav ul {
    margin: 50px 0 0 0;
    padding-right: 10px;
    list-style: none;
  }

  nav li {
    display: block;
    font-size: 10px;
    margin-left: none;
    padding-top: 10px;
    position: relative;
  }
  .li-home {
    margin-left: 70px;
  }

  nav a {
    text-decoration: none;
    color: var(--primary-color);
    text-transform: uppercase;
    font-weight: 400;
    opacity: 1;
    transition: opacity 250ms ease-in-out;
  }

  .nav-toggle:checked ~ nav {
    transform: translateX(120%);
    opacity: 1;
  }
  .nav-toggle:checked ~ nav a {
    opacity: 0;
  }

  nav a::after {
    display: block;
    content: "";
    height: 1px;
    background-color: var(--secondary-color);
    bottom: -3px;
    position: absolute;
    width: 0%;
    transition: all ease-in-out 200ms;
  }

  nav a:hover::after {
    width: 80%;
  }
  .hero-section {
    display: flex;
    flex-direction: column;
    margin: 0;
    position: relative;
    box-sizing: content-box;
    z-index: -1;
    width: 280px;
    max-height: 250px;
    left: calc(50vw - 140px);
    top: calc(55vh - 125px);
  }

  .hero-cross-top {
    box-sizing: border-box;
    width: 100%;
    height: 20px;
    border-top: 1px solid var(--primary-color);
    border-left: 1px solid var(--primary-color);
  }

  .hero-cross-bottom {
    box-sizing: border-box;
    width: 100%;
    height: 20px;
    border-bottom: 1px solid var(--primary-color);
    border-right: 1px solid var(--primary-color);
  }

  .hero-text {
    color: var(--primary-color);
    font-size: 40px;
    width: fit-content;
    margin: 2px;
    padding: 5px;
    padding-left: 10px;
    font-weight: 400;
  }
  .text-secondary {
    color: var(--secondary-color);
  }

  .hero-text-description {
    color: var(--primary-color);
    font-size: 12px;
    font-weight: 300;
    margin: auto;
    width: fit-content;
  }
  .arrow-div {
    position: absolute;
    box-sizing: content-box;
    left: calc(50vw - 20px);
    top: 90vh;
    opacity: 0.5;
    z-index: 7;
  }
}
/* Medium Screens */
@media only screen and (min-device-width: 569px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  .nav-container {
    background: none;
    display: block;
    width: 80%;
    margin: 0 auto;
    z-index: 300;
  }

  header {
    background-size: cover;
    background-position: center;
  }

  header::after {
    content: "";
    display: table;
    clear: both;
  }

  nav {
    display: block;
    margin: 0 auto;
    transform: translateX(0%);
    transform-origin: left;
    transition: transform 400ms ease-in-out;
  }
  #nav-toggle {
    position: absolute;
    display: none;
  }
  .nav-toggle-label {
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 1em;
    height: 5vh;
    display: none;
    align-items: center;
  }
  nav ul {
    display: block;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    width: fit-content;
  }

  nav li {
    display: inline-block;
    margin-left: 40px;
    padding-top: 25px;
    position: relative;
  }
  .li-home {
    margin-left: 0;
  }

  nav a {
    text-decoration: none;
    color: var(--primary-color);
    text-transform: uppercase;
    font-weight: 400;
    opacity: 1;
    transition: opacity 250ms ease-in-out;
  }

  nav a::after {
    display: block;
    content: "";
    height: 4px;
    background-color: var(--secondary-color);
    bottom: -15px;
    position: absolute;
    width: 0%;
    transition: all ease-in-out 200ms;
  }

  nav a:hover::after {
    width: 100%;
  }
  /* Main - Homepage */

  main {
    position: relative;
    background-color: none;
    z-index: -2;
    height: 100vh;
    background-image: url(../img/BlueMountains.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  main::before {
    position: absolute;
    display: grid;
    grid-area: main-home;
    box-sizing: border-box;
    content: "";
    height: 100vh;
    width: 100%;
    background: #000;
    z-index: -1;
    opacity: 0.7;
  }

  .hero-section {
    display: flex;
    flex-direction: column;
    margin: 0;
    position: relative;
    box-sizing: content-box;
    z-index: -1;
    width: 490px;
    max-height: 250px;
    left: calc(50vw - 245px);
    top: calc(45vh - 125px);
  }

  .hero-cross-top {
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    border-top: 2px solid var(--primary-color);
    border-left: 2px solid var(--primary-color);
  }

  .hero-cross-bottom {
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    border-bottom: 2px solid var(--primary-color);
    border-right: 2px solid var(--primary-color);
  }

  .hero-text {
    color: var(--primary-color);
    font-size: 70px;
    white-space: nowrap;
    width: fit-content;
    margin: 3px;
    padding: 7px;
    padding-left: 17px;
    font-weight: 400;
  }
  .text-secondary {
    color: var(--secondary-color);
  }

  .hero-text-description {
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 300;
    margin: auto;
    width: fit-content;
  }
  .arrow-div {
    position: absolute;
    box-sizing: content-box;
    left: calc(50vw - 20px);
    top: 90vh;
    z-index: 7;
  }
}
/* Large Screens */
@media screen and (min-device-width: 1025px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
}

/* X-Large Screens */
@media screen and (min-device-width: 1601px) {
}
