.skills {
  background: url(../../img/skills-r-bg-image.jpg) center/cover no-repeat;
  text-align: center;
  padding: 5em 2em;

  @include mq-m {
    padding: 5em 3em;
  }
  @include mq-l {
    padding: 5em 10em;
  }
  @include mq-xl {
    padding: 5em 22em;
  }

  h2 {
    @include mq-m {
      font-size: 40px;
    }
    @include mq-l {
      font-size: 50px;
    }
    @include mq-xl {
      font-size: 60px;
    }
  }

  h4 {
    @include mq-m {
      font-size: 20px;
    }
    @include mq-l {
      font-size: 27px;
    }
    @include mq-xl {
      font-size: 35px;
    }
  }
}

.skill-pill {
  background: $white;
  display: inline-block;
  color: #000;
  font-size: 13px;
  font-weight: 400;
  padding: 7px 13px;
  border-radius: 6px;
  margin: 5px;
  -webkit-box-shadow: 3px 3px 3px #000000;
  -moz-box-shadow: 3px 3px 3px #000000;
  box-shadow: 3px 3px 3px #000000;

  @include mq-m {
    font-size: 15px;
    padding: 9px 15px;
    border-radius: 8px;
    margin: 7px;
  }
  @include mq-l {
    font-size: 18px;
    padding: 9px 15px;
    border-radius: 8px;
    margin: 7px;
  }
  @include mq-xl {
    font-size: 21px;
    padding: 9px 15px;
    border-radius: 8px;
    margin: 7px;
  }

  i {
    margin-right: 4px;
  }
}
.skills-cat {
  margin-bottom: 2em;
}
.skills-area-title {
  margin: 9em auto;
}
.certs-header {
  margin-bottom: 2em;
}
.canvas-div {
  display: flex;
  width: 100%;
  align-self: center;
}

.certs-header {
  margin: 0 auto 3em;

  @include mq-s {
    margin: 4em auto -1em;
  }
}
.canvas-container {
  display: flex;
  position: relative;
  background: rgba($light-blue, 0.2);
  height: 390px;
  max-width: 100%;
  border: none;
  margin: auto;
  box-sizing: content-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  flex: 1 1 10px;

  @include mq-s {
    background: rgba($light-blue, 0);
    height: 400px;
  }

  @include mq-m {
    max-width: 550px;
    height: 410px;
  }
  @include mq-l {
    max-width: 650px;
    height: 425px;
  }
  @include mq-xl {
    max-width: 700px;
    height: 450px;
  }
}
.sliders ul {
  position: absolute;
  bottom: 4%;
  right: 0%;
  width: 100%;
  text-align: center;
  margin: 0;

  @include mq-s {
    bottom: 14%;
    right: 0%;
  }
}
.sliders li {
  list-style: none;
  background: gray;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
}
.active-slider {
  background-color: $yellow !important;
  border: 2px solid $dark-blue;
}
.resume-download {
  display: block;
  margin-top: 2em;
}
.btn {
  background: $yellow;
  height: auto;
  font-size: 13px;
  width: fit-content;
  padding: 9px;
  border-radius: 8px;

  @include mq-m {
    font-size: 14px;
  }
  @include mq-l {
    font-size: 17px;
  }
  @include mq-xl {
    font-size: 19px;
  }
}
#canvas {
  position: relative;
  height: 400px;
  width: 200px;
  max-width: 550px;
  margin: auto;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 10rem;

  img {
    display: block;
    width: 85%;
    margin: 0 auto;
  }

  @include mq-s {
    max-height: fit-content;
    margin: 0 auto;
    height: 370px;
  }
}

.arrow {
  position: relative;
  display: block;
  z-index: 1;
  width: 20px;
  height: 40px;
  padding: 5px;
  box-sizing: border-box;
  background: none;
  opacity: 0.8;
  color: #fff;
}
.arrow i {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 35px;
  height: 35px;
}

.arrow:hover {
  color: $yellow;
}

footer {
  margin-top: 50px;
  text-align: center;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate3d(0, 3%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.canvas-slide {
  animation-duration: 0.25s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
}
.canvas-slide-fadeinright {
  animation-name: fadeInRight;
}
.canvas-slide-fadeinleft {
  animation-name: fadeInLeft;
}
.run-animation {
  position: relative;
  animation: fadeIn 0.45s ease-in-out;
}
