.work {
  background: url(../../img/my-work-bg-image.jpg) center/cover no-repeat;
  text-align: center;
  padding: 5em 2em;
  // display: block;

  @include mq-m {
    padding: 5em 3em;
  }

  h2 {
    @include mq-m {
      font-size: 40px;
    }
    @include mq-l {
      font-size: 50px;
    }
    @include mq-xl {
      font-size: 60px;
    }
  }
}

.project {
  position: relative;
  display: flex;
  padding: 0;
  margin: 0.7em 0.7em;
  transition: all 0.3s ease-in-out;
  flex-direction: column;
  min-width: 250px;
  //max-width: 400px;
  background-color: #000;
  flex: 1 1 5rem;

  .project-img {
    display: block;
    max-width: 100%;
    filter: brightness(100%);
    transition: filter 0.3s ease;
  }

  .project-cta {
    color: $yellow;
    font-size: $fw-l;
    position: absolute;
    top: 50%;
    left: calc(50% - 40px);
    opacity: 0;
    cursor: pointer;
    transition: transform 0.3s ease;
    transition: opacity 0.3s ease;
  }

  &:hover .project-cta {
    transform: translateY();
    opacity: 100;
  }
  &:hover .project-img {
    filter: brightness(20%);
    transform: scale(1.1);
  }
}

.flexy {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  @include container($max-width: 870px);
}

// ============================================================
// MODAL STYLING
// ============================================================

.modal-container {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 900;

  &.show {
    pointer-events: auto;
    opacity: 1;
  }
}

.modal {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 290px;
  max-width: 100%;
  overflow: scroll;
  position: relative;

  @include mq-m {
    min-width: 375px;
    max-width: 500px;
    margin: auto 75px;
    flex: 1 1 3rem;
  }
  @include mq-l {
    min-width: 450px;
    max-width: 600px;
    margin: auto 75px;
    flex: 1 1 3rem;
  }
  @include mq-xl {
    min-width: 450px;
    max-width: 700px;
    margin: auto 75px;
    flex: 1 1 3rem;
  }

  .modal-header {
    justify-content: left;
    position: relative;

    @include mq-l {
      height: 300px;
    }
    @include mq-xl {
      height: 350px;
      overflow: hidden;
    }

    .modal-header-img {
      display: flex;
      align-self: left;

      @include mq-m {
        margin-left: 1rem;
      }
      @include mq-l {
        margin-left: 3rem;
        width: 250px;
      }
      @include mq-xl {
        margin-left: 3rem;
        width: 325px;
      }
    }

    .title-info {
      position: absolute;
      top: calc(50% - 20px);
      right: 0.5rem;

      @include mq-m {
        right: 3rem;
      }
      @include mq-l {
        right: 4rem;
      }
      @include mq-xl {
        right: 5rem;
      }

      h2 {
        font-size: 17px;
        font-weight: $fw-n;
        padding: 0;
        width: fit-content;

        @include mq-m {
          font-size: 25px;
        }
        @include mq-l {
          font-size: 30px;
        }
        @include mq-xl {
          font-size: 35px;
        }
      }
    }

    p {
      width: 100%;
      font-size: 12px;
      color: #fff;
      line-height: 0.7;
      padding-right: 0;
      margin-right: 0;

      @include mq-m {
        font-size: 15px;
      }
      @include mq-l {
        font-size: 17px;
      }
      @include mq-xl {
        font-size: 17px;
      }
    }
  }
}

.modal-header-helios {
  background-color: #7857d1;
}
.modal-header-alfredas {
  background-color: #be2a2a;
}
.modal-header-cycloden {
  background-color: #cacaca;
}
.modal-header-weatherHub {
  background-color: #57a5d1;
}
.modal-header-weatherHub2 {
  background-color: #57a5d1;
}

.modal-icons {
  position: relative;
  width: fit-content;
  margin: -17px 0.5rem 0px auto;

  @include mq-m {
    margin: -17px 3rem 0px auto;
  }
  @include mq-l {
    margin: -20px 4rem 0px auto;
  }
  @include mq-xl {
    margin: -20px 4rem 0px auto;
  }
}

.lang-icons {
  width: 30px;
  height: 30px;

  @include mq-m {
    width: 50px;
    height: 50px;
    margin-left: 5px;
  }
  @include mq-l {
    width: 55px;
    height: 55px;
    margin-left: 5px;
  }
  @include mq-xl {
    width: 55px;
    height: 55px;
    margin-left: 5px;
  }
}

.modal-body {
  padding: 1rem;

  @include mq-m {
    padding: 3rem;
  }
  @include mq-l {
    padding: 3rem;
  }
  @include mq-xl {
    padding: 3rem;
  }

  p {
    font-size: 13px;
    text-align: left;

    @include mq-m {
      font-size: 15px;
    }
    @include mq-l {
      font-size: 17px;
    }
    @include mq-xl {
      font-size: 17px;
    }
  }

  ul {
    font-size: 13px;
    text-align: left;

    @include mq-m {
      font-size: 15px;
    }
    @include mq-l {
      font-size: 17px;
    }
    @include mq-xl {
      font-size: 17px;
    }
  }
}
.modal-cta {
  margin-top: 1rem;
}

.btn {
  border-radius: 0;
  border: none;
  margin: 0.5rem 0.5rem;

  @include mq-m {
    padding: 0.7rem;
    margin: 0.7rem 0.7rem;
  }
  @include mq-l {
    padding: 0.7rem;
    margin: 0.7rem 0.7rem;
  }
  @include mq-xl {
    padding: 0.7rem;
    margin: 0.7rem 0.7rem;
  }
}
#liveBtn {
  background-color: #ffe139;
}
#codeBtn {
  background-color: #56ecf8;
}
.close-btn {
  font-weight: $fw-n;
  font-size: 15px;
  color: #fff;
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @include mq-m {
    font-size: 17px;
    padding: 0.8rem;
  }
  @include mq-l {
    font-size: 19px;
    padding: 0.8rem;
  }
  @include mq-xl {
    font-size: 19px;
    padding: 0.8rem;
  }
}

// ================================================================
// SVG ICONS
// ================================================================
