.work {
  background: url(../../img/my-work-bg-image.jpg) center/cover no-repeat;
  text-align: center;
  padding: 5em 1em;
}

.project {
  display: flex;
  flex-direction: column;
  width: 150px;
  position: relative;
  height: min-content;
  background-color: $light-blue;
  flex: 1 1 10rem;

  img {
    display: block;
    width: 100%;
  }
  .project-link {
    color: $white;
    font-weight: $fw-n;
    font-size: 14px;
    text-decoration: none;
  }
  .project-desc {
    font-size: 14px;
    line-height: 1.1em;
    padding-top: 1em;
  }
  .project-title {
    padding-top: 0.5em;
  }

  figcaption {
    margin: 0;
    padding: 0;
    display: none;
    transition: display ease-in-out 250ms;
  }
  &:hover figcaption,
  &:focus figcaption {
    display: block;
  }
}

.projects {
  display: flex;
  //flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  max-width: 60em;
}
